@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.inicio {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../../utils/assets/fundo-landing-page.png");
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
}

.inicio img {
    display: block;
    width: 10%;
    height: 10%;
    filter: brightness(75%);
}

.logo {
    position: absolute;
    top: 4%;
    left: 6%;
    z-index: 1;
}

.logo img {
    width: 274px;
    height: 93px;
    filter: brightness(1.1);
}

.botao-entrar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
}

.botao-entrar svg {
    color: #fafafa;
    font-size: 40px;
    margin-right: 10px;
    width: 46px;
    height: 44px;
}

.botao-entrar a {
    text-decoration: none;
    color: #D9D9D9;
    font-family: 'Poppins';
    font-size: 15px;
}

.frase-titulo {
    position: absolute;
    width: 650px;
    left: 10%;
    top: 28%;
    font-size: 70px;
    font-family: 'Poppins';
    color: #FAF5FF;
    font-weight: bold;
}

.subtitulo {
    position: absolute;
    width: 80%;
    font-size: 20px;
    font-family: 'Poppins';
    left: 10%;
    top: 60%;
    color: #FAF5FF;
    /* font-weight: bold; */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.botoes-inicio {
    position: absolute;
    left: 28%;
    top: 80%;
}

.botoes-inicio button {
    height: 73px;
    width: 310px;
    margin: 25px;
    border-radius: 9px;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    color: #FAF5FF;
    border: none;
}

.botoes-inicio button:hover {
    transition: ease 0.4s;
    filter: brightness(0.8);
}

/* ////////////////////////////  SectionGradiente //////////////////////////////////// */


.gradiente-site {
    margin: 0;
    padding: 0;
    height: 1700px;
    background-image: linear-gradient(180deg, #9333EA 22%, #A962EA 100%);
}

.fundo-ondas{
    height: 1157px;
    background-image: url("../../utils/assets/fundo-ondas.png");
}
.fundo{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.frase-tatuagens {
    position: relative;
    width: 800px;
    left: 12%;
    padding-top: 8%;
    padding-bottom: 3%;
    font-size: 45px;
    font-family: 'Poppins';
    color: #FAF5FF;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CSS do grid de fotos*/

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.frase-carrossel {
    text-align: end;
    font-family: 'Poppins';
    color: #FAF5FF;
    font-weight: bold;
    font-size: 45px;
    padding-top: 10%;
    padding-right: 11%;
    padding-bottom: 4%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CSS do Carrossel*/

.carrossel {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #adadadc2;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #9333EA;
    height: 208px;
    width: 208px;
    border-radius: 50%;
}

.card .img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    font-family: 'Poppins';
    color: #383838;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.depoimento-tatuador {
    display: flex;
    flex-direction: row;
}

.secao-depoimentos>header:first-of-type {
    font-family: 'Poppins';
    color: #3C3C3C;
    font-size: 35px;
    padding-top: 10%;
    padding-left: 12%;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.secao-depoimentos>article:first-of-type {
    font-family: 'Poppins';
    color: #3C3C3C;
    font-size: 25px;
    padding-left: 12%;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.secao-depoimentos img {
    padding-top: 9%;
    padding-left: 12%;
}

.texto-depoimento {
    float: right;
    font-family: 'Poppins';
    color: #3C3C3C;
    width: 600px;
    padding-left: 5%;
    text-align: justify;
}

.texto-depoimento header {
    font-family: 'Poppins';
    color: #3C3C3C;
    font-size: 35px;
    padding-top: 23%;
}

.texto-depoimento article {
    font-family: 'Poppins';
    color: #3C3C3C;
    font-size: 25px;
    padding-bottom: 5%;
}
.texto-depoimento span{
    font-size: 20px;
}

.logo-final-do-site {
    display: flex;
    justify-content: end;
}

.logo-final-do-site img {
    padding-top: 3%;
}

/* ////////////////////////////  FOOTER //////////////////////////////////// */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
}

.links {
    display: flex;
    margin-left: 30px;   
}

.links a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #3C3C3C;
    margin-left: 70px;

}
.links-barra{
    margin-top: 100px;
    font-size: 15px;
}

.logo-direitos{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.barra-cinza {
    background-color: #96989B;
    height: 1.5px;
    width: 700px;
}

.footer .logo-footer {
    width: 137px;
    height: 116px;
    margin-bottom: 30px;
    /* padding-top: 2%; */
}

.mensagem-direitos {
    font-family: 'Poppins';
    font-size: 15px;
    color: #3C3C3C;
}