@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}
.toastContainer{
    font-size: 15px;
}
.logo-cadastro{
    margin-bottom: 30px;
    margin-right: 370px;
    width: 50px;
    height: 50px;
}
.inicio {
    width: 100%;
    height: 100vh;
    background-image: url("../../utils/assets/fundo-landing-page.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    height: 110%; /* Ajuste o valor conforme necessário */
    width: 100%;
    max-width: 600px;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    margin: 0; /* Remover margem */
    padding: 0; /* Remover preenchimento */    
    color: rgb(255, 255, 255);
}

.conteudo-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
}

.conteudo-modal input {
    background-color: #FFFFFF;
    color: #000000;
}

.conteudo-modal input:focus {
    border: 2px solid #9333EA;
    outline: none;
}

.barra-progresso {
    position: relative;
    height: 10px;
    width: 150px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.progresso {
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 50%;
    background-color: #9333EA;
    border-radius: 8px;
}

.frase-inicial {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color:#3C3C3C;
}

.campo-invalido {
    border: 1px solid red !important;
    background-color: rgba(250, 134, 134, 0.501) !important;
}  

.nome-sobrenome {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
}

.nome-sobrenome input {
    margin-right: 15px;
    margin-left: 15px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nome-sobrenome label {
    margin-left: 17px;
    color: #3C3C3C;
}

.campo {
    display: flex;
    flex-direction: column;
    /* font-size: 17px; */

}

.email {
    margin-top: 15px;
    display: flex;
    align-items: start;
    font-size: 15px;
}

.email input {
    height: 40px;
    width: 430px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.email label {
    margin-left: 1px;
    color: #3C3C3C;
}

.label-senha{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#LuEye{
    margin-left: 10px;
    cursor: pointer;
}

.avancar {
    margin-top: 50px;
    background-color: #9333EA;
    border: none;
    border-radius: 7px;
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    height: 40px;
    width: 120px;
    cursor: pointer;
}

.avancar:hover {
    background-color: #a352ef;
    transition: ease-in 0.1s;
}

/* /////////////////////// SEGUNDA TELA /////////////////////// */

.modal-2 {
    height: 95%;
    width: 100%;
    background-color: #B2BAC5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.barra-progresso-2 {
    position: relative;
    height: 10px;
    width: 150px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.progresso-2 {
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 66%;
    background-color: #9333EA;
    border-radius: 8px;
}

.linha-2 {
    height: 1.5px;
    width: 90%;
    background-color: #581C87;
    margin-top: 13px;
    margin-bottom: 10px;
}

.input-100 {
    margin-top: 15px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
}

.input-100 input {
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: none;
    text-align: center;
    /* font-size: 15px; */
}

.input-100 label {
    margin-left: 5px;
}

.endereco {
    margin-top: 25px;
    margin-right: 212px;
    font-weight: bold;
}

.span-cep {
    margin-right: 340px;
    margin-top: 8px;
}

.ipt-cep {
    flex-direction: row;
    align-items: center;
    display: flex;
    /* margin-top: 8px; */
    margin-right: 245px;
}

.ipt-cep input {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.ipt-cep svg {
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.ipt-cep svg:hover{
    opacity: 1;
}

.estado-cidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 70px;
}

.estado-cidade .estado,
.estado-cidade .cidade {
    flex-basis: 48%;
    /* Definindo a largura de cada entrada para ocupar aproximadamente metade do espaço */
}

.estado-cidade .estado label,
.estado-cidade .cidade label {
    display: block;
    margin-left: 2px;
}

.estado-cidade .estado input,
.estado-cidade .cidade input {
    height: 40px;
    width: 100%;
    /* Para que ocupem todo o espaço disponível */
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.input-100 input:focus,
.estado-cidade .estado input:focus,
.estado-cidade .cidade input:focus {
    border: 2px solid #581C87;
    outline: none;
}

.bairro-rua {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.bairro-rua .bairro,
.bairro-rua .rua {
    flex-basis: 48%;
    /* Definindo a largura de cada entrada para ocupar aproximadamente metade do espaço */
}

.bairro-rua .bairro label,
.bairro-rua .rua label {
    display: block;
    margin-left: 2px;
}

.bairro-rua .bairro input,
.bairro-rua .rua input {
    height: 40px;
    width: 100%;
    /* Para que ocupem todo o espaço disponível */
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.bairro-rua .bairro input:focus,
.bairro-rua .rua input:focus {
    border: 2px solid #581C87;
    outline: none;
}

.numero-complemento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.numero-complemento .numero {
    flex-basis: 25%;
    /* Definindo a largura da entrada de número */
}

.numero-complemento .complemento {
    flex-basis: 73%;
    /* Definindo a largura da entrada de complemento */
}

.numero-complemento .numero label,
.numero-complemento .complemento label {
    display: block;
    margin-bottom: 5px;
}

.numero-complemento .numero input,
.numero-complemento .complemento input {
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.numero-complemento .numero input {
    width: calc(100% - 10px);
    /* Para que a entrada de número seja menor */
}

.numero-complemento .complemento input {
    width: 100%;
}

/* Estilo de foco */
.numero-complemento .numero input:focus,
.numero-complemento .complemento input:focus {
    border: 2px solid #581C87;
    outline: none;
}

.avancar-2 {
    margin-top: 20px;
    background-color: #581C87;
    border: none;
    border-radius: 7px;
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    height: 50px;
    width: 120px;
    cursor: pointer;
}

.avancar-2:hover {
    background-color: #421564;
    transition: ease-in 0.1s;
}
#voltar {
    text-decoration: none;
    color: #bcbcbc;
    margin-top: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.oculto {
    display: none;
}


/* /////////////////////// TERCEIRA TELA /////////////////////// */


.progresso-3 {
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 100%;
    background-color: #9333EA;
    border-radius: 8px;
}


.linha {
    height: 1.5px;
    width: 90%;
    background-color: #9333EA;
    margin-top: 13px;
    margin-bottom: 10px;
}

.msg-3-tela {
    display: flex;
    align-self: self-start;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px;
    color: #3C3C3C;
}

.opcoes {
    display: flex;
    flex-direction: row;
}

.coluna {
    margin: 10px 20px 20px;
    color: #3C3C3C;
}

.coluna input {
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 40px;
}

.coluna label {
    /* margin-bottom: 60px; */
    font-size: medium;
}

textarea{
    color: #000000;
    height: 150px;
    width: 550px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.label-textarea {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 12.2px;
    color: #3C3C3C;
}

.concluir {
    margin-top: 20px;
    background-color: #9333EA;
    border: none;
    border-radius: 7px;
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    height: 40px;
    width: 120px;
    cursor: pointer;
}

.concluir:hover {
    background-color: #421564;
    transition: ease-in 0.1s;
}
.voltar{
    font-size: 20px;
}
