.fora-da-sidebar {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.fora-da-sidebar > h1 {
  color: #a855f7;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 70px;
}

.fora-da-sidebar > span {
  width: 70%;
  font-size: 20px;
  color: #6b6b6b;
  margin-top: 15px;
  margin-left: 70px;
  text-align: justify;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card {
  background-color: #9333EA;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 410px;
  height: 440px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  margin-right: 80px;
}

.card h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.card h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}

.card h1 span{
    font-size: 14px;
}

.divisor {
  border: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.512);
  margin: 20px 0;
  margin-bottom: 30px;
}

.card li{
    font-size: small;
    margin: 20px;
    text-align: start;
    margin-left: 10px;
}


.card .item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-check{
    font-size: 24px;
    flex-shrink: 0;
    margin-right: 15px;
}

.botaoAssinar {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
  width: 80%;
}

.botaoAssinar:hover {
  background-color: #3a0360;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.728);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid #9333EA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  min-width: 80vw;
}

.assinante-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.titulo-assinante {
  color: #9333EA;
  font-size: 2.5rem;
  font-weight: bold;
}

.mensagem-assinante {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #555;
}

.info-assinante {
  background-color: #9233ea4f;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  color: #000000;
}

/* .botao-gerenciar {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.botao-gerenciar:hover {
  background-color: #388e3c;
} */
