.gridListagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 80px;
}

.cardStudio {
  height: 568px;
  width: 592px;
  border-radius: 20px;
  background-color: #DADADA;
  margin-top: 70px;
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
}
.pointerSombra{
  height: 120px;
  margin-bottom: 20px;
  width: 530px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 2px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}
.pointerSombra:hover{
  background-color: #c6c6c6;
  border-radius: 10px;
}
.fotosServicos {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.imagemWrapper {
  margin-right: 2px;
  flex-grow: 1;
  border-radius: 15px;
  overflow: hidden;
}

.imagem {
  height: 232px;
  width: 176px;
  object-fit: cover;
  transition: width 0.5s ease;
}

.imagemWrapper:hover .imagem {
  width: 250px;
}

.informacoesStudio {
  display: flex;
  /* justify-content: space-around; */
  margin-left: 3px;
  margin-top: 50px;
  align-items: center;
  color: #3C3C3C;
}

.informacoes {
  margin-left: 50px;
  margin-top: 15px;
  font-family: 'Poppins';
  flex-direction: column;
}

.informacoes p {
  margin-top: 3px;
  font-size: 15px;
}
.informacoes h5{
  font-size: 20px;
}
.line{
  display: flex;
  align-items: center;

}

.fotoPerfil {
  width: 84px;
  height: 89px;
  border-radius: 100%;
  margin-top: 20px;
}

.botaoTenhoInteresse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.tenhoInteresse {
  width: 122px;
  height: 34px;
  background-color: #A855F7;
  color: #F5F5F5;
  border: none;
  border-radius: 9px;
  font-weight: bold;
  font-size: 15px;
}

.iconeContainer {
  display: flex;
  max-width: calc(100% - 109px);
  overflow-x: auto;
  margin-left: 50px;
  justify-content:center;
}

.icone {
  background-color: #581C87;
  color: #F5F5F5;
  height: 25px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 10px;
  font-family: 'Poppins';
  font-size: 13px;
  overflow: hidden;
  border-radius: 5px;
}