@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

.section-detalhes {
  background-color: #F5F5F5;
  font-family: 'Poppins';
}

.container-detalhes{
  display: flex;
  justify-content: space-between;
}

.tituloPortifolio{
  color: #A855F7;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: 150px;
}

.header-detalhes {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 60px;
  align-items: center;
}

.header-detalhes img {
  margin-top: 20px;
  margin-left: 30px;
  width: 270px;
  height: 65px;
}

.header-detalhes span{
  font-size: 48px;
  margin-top: 20px;
}

.botao-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
  /* font-size: 15px; */
  color: #FFFFFF;
}

.botao-login svg{
  margin-right: 10px;
  font-size: 36px;
}
.valorMinimo{
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  
}
.valorTempoDetalhes{
  display: flex;
  font-size: 13px;
  font-weight: bold;
  flex-direction: column;
  color: #1E1E1E;
}
.informacoes{
  background-image: url("../../utils/assets/fundo-portifolio.png");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  width: 25%;
  height: 1600px;
  border-radius: 17px;
  margin-top: 100px;
  margin-left: 90px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.botoes-informacoes{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.instagram{
  font-size: 15px;
  margin-top: 50px;
  margin-left: 20px;
}

.instagram h2{
  margin-top: 6px;
  cursor: pointer;
}

.instagram svg{
  font-size: 40px;
  cursor: pointer;
}
.estilosDetalhes{
  background-color: #9333EA;
}
.linha-detalhes{
  margin-top: 40px;
  margin-left: 17px;
  width: 90%;
  height: 1px;
  background-color: black;
}

.valores{
  display: flex;
  flex-direction: row;
}

.box-valores{
  width: 133px;
  height: 58px;
  border-radius: 7px;
  background-color: rgb(212 212 216);
  border-color: rgb(75 85 99);
  border: solid 1px;
  margin-left: 20px;
  margin-top: 24px;
}

.box-valores span{
  font-size: small;
  padding-left: 5px;
}

.box-valores h2{
  font-size: large;
  padding-left: 25%;
  font-weight: 600;
}

.linha-detalhes-dois{
  margin-top: 35px;
  margin-left: 17px;
  width: 90%;
  height: 1px;
  background-color: black;
}

.estudio-detalhes{
  display: flex;
  align-items: center;
}

.nome-estudio-detalhes{
  width: 90%;
  color: #3C3C3C;
}
.enderecoDetalhes{
  margin-left: 10px;
  font-size: 15px;
  color: #3C3C3C;
}
.enderecoIcone{
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
}
/* CSS do grid de fotos*/

.row-detalhes {
  width: 70%; 
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 150px;
}

/* Create four equal columns that sits next to each other */
.column-detalhes {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-detalhes img {
  /* margin-top: 8px; */
  margin: 8px 8px 8px 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 15px;
}

.column-detalhes img:hover::after {
  content: "Entre em contato";
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.column-detalhes img:hover {
  transform: scale(1.02);
  transition: 0.2s;
  filter: brightness(0.5);
  cursor: pointer;
}

.container-imagem {
  position: relative;
}

#image {
  position: absolute;
}

#texto-imagem {
  position: absolute;
  font-size: 32px;
  left: 250px;
  top: 135px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}
