@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gradientFundo{
    background-image: linear-gradient(180deg, #9333EA 1%, #3C3C3C 75%);
    height: 100vh;
}

.navBar {
    /* width: 100%;  */
    display: flex;
    padding: 20px 40px; 
    display: inline-block;
}
.logo{
    width: 279px;
    height: 76px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente*/
    /*padding: 20px; Adiciona algum espaço interno*/
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    margin-right: 20px; 
}
.text h4{
    line-height: 2;
}

.button {
    width: 259px;
    height: 62px;
    color: #FFFFFF;
    font-size: 30px;
    background-color: #581C87;
    border-radius: 9px;
    border: none;
    font-weight: 400 !important; 
}

.image {
    width: 650px;
    height: 570px;
    /* border-radius: 10px;  */
}
