/* detalhes.css */

body {
    font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #B2BAC5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header */
  header {
    background-color: #B2BAC5;
    padding: 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 50px;
  }

  .header-botoes {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  form input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Main */
  main {
    padding: 40px 0;
  }
  
  /* Estúdio Detalhes */
  .estudio-detalhes {
    background-color: #B2BAC5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  
  .estudio-detalhes .container {
    display: flex;
    justify-content: space-between;
  }
  
  .estudio-info img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .estudio-info h2 {
    margin-top: 10px;
    font-size: 24px;
  }
  
  .estudio-info p {
    margin: 5px 0;
    color: #555;
  }
  
  .mapa {
    width: 50%;
    height: 250px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* Serviços */
.servicos h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .servicos .servico {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
  }
  
  .servicos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px; /* Espaçamento entre imagem e texto */
  }
  
  .servicos .info {
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  .servicos h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .servicos p {
    margin: 5px 0;
    color: #555;
  }
  
  .servicos button {
    background-color: #7b1fa2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Ocupa toda a largura */
    margin: 10px auto 0 auto; /* Centraliza o botão */
  }
  
  /* Galeria */
  .galeria h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .galeria .fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .galeria img {
    width: calc(33% - 10px);
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .galeria button {
    background-color: #7b1fa2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  /* Footer */
  /* footer .footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  } */

  /* Footer */
.logo-final-do-site{
    display: flex;
    justify-content: end;
}

.logo-final-do-site img{
    padding-top: 3%;
}

.footer{
    /* background-color: #404040; */
    background-color: #333;
    color: #fff;
    padding-top: 7%;
    padding-left: 5%;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;    
    font-size: 75%;
}

.links a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #fff;
    margin-left: 5%;
}

.barra-roxa{
    background: rgb(168,85,247);
    background: linear-gradient(90deg, rgba(168,85,247,1) 0%, rgba(88,28,135,1) 82%);
    height: 1.5px;
    width: 700px;
}

.footer #logo{
    width: 320px;
    height: 85px;
    padding-top: 2%;
}

#google-play{
    display: flex;
    justify-content: end;
    float: right;
    padding-top: 2%;
    padding-right: 5%;
    width: 280px;
    height: 85px;
}
.mensagem-direitos{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: #a1a1a1;
    padding-top: 3%;
    padding-bottom: 4%;
}