@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #B2BAC5;
}

.inicio {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../../public/assets/fundo-listagem.png");
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
}

.categoria {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
}

.filtro {
    display: flex;
    margin-top: 3%;
    margin-left: 60px;
}

.filtro a {
    margin-left: 5px;
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
    font-size: 15px;
}

.inicio img {
    display: block;
    width: 10%;
    height: 10%;
    filter: brightness(75%);
}

.logo {
    position: absolute;
    top: 3%;
    left: 40%;
    z-index: 1;
}

.logo img {
    width: 270px;
    height: 65px;
    filter: brightness(1.1);
}

.botao-entrar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
}

.botao-entrar ion-icon {
    color: #9333EA;
    font-size: 56px;
    margin-right: 5px;
}


.botao-entrar a {
    text-decoration: none;
    color: #D9D9D9;
    font-family: 'Poppins';
    font-size: 15px;
}

.inputs {
    position: absolute;
    left: 20%;
    top: 30%;
}

.inputs input {
    height: 46px;
    width: 379px;
    margin-left: 60px;
    border-radius: 9px;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    /* color: #FAF5FF; */
    border: none;
    padding-left: 30px;
}

.pesquisa {
    background-image: url('../../public/assets/lupa.png');
    background-size: 20px;
    /* Define o tamanho da imagem */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-position: 5px center;
    /* Posição da imagem dentro do input */
}

.onde {
    background-image: url('../../public/assets/localização.png');
    background-size: 20px;
    /* Define o tamanho da imagem */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-position: 5px center;
    /* Posição da imagem dentro do input */
}

/* Listagem tatuadores */
.grid-listagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
     /* Adicionando rolagem horizontal */
  padding-bottom: 10px; 
}

.card-studio {
    height: 487px;
    width: 343px;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;

}

.fotos-servicos {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.imagem-wrapper {
    margin-right: 2px;
    flex-grow: 1;
    border-radius: 15px;
    overflow: hidden;
    /* esconde o conteúdo que ultrapassa o tamanho do wrapper */
}

.imagem {
    height: 232px;
    width: 135px;
    object-fit: cover;
    transition: width 0.5s ease;
}

.imagem-wrapper:hover .imagem {
    width: 250px;
}

.informacoes-studio {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;

}

.endereco {
    margin-top: 15px;
    font-family: 'Poppins';
    flex-direction: column;
}

.endereco h5 {
    margin: 0;
}

.foto-perfil {
    width: 84px;
    height: 89px;
    border-radius: 100%;
}

.botao-tenho-interesse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.tenho-interesse {
    width: 122px;
    height: 34px;
    background-color: #581C87;
    color: #FFFFFF;
    border: none;
    border-radius: 9px;
}

.icone-container {
    display: flex;
    max-width: calc(100% - 20px);
}

/* Estilo do ícone */
.icone {
    background-color: #E6E6E6;
    /* Cor de fundo */
    height: 16px;
    /* Altura */
    padding: 0 5px;
    /* Espaçamento interno para o texto */
    display: flex;
    /* Alinhar texto verticalmente */
    align-items: center;
    /* Alinhar texto verticalmente */
    white-space: nowrap;
    /* Impedir que o texto quebre para a próxima linha */
    margin-right: 5px;
    /* Espaçamento entre os ícones */
    font-family: 'Poppins';
    /* Fonte do texto */
    font-size: 8px;
    /* Tamanho da fonte */
    font-weight: normal;
    /* Peso da fonte */
    overflow: hidden;
    /* Ocultar texto que excede o tamanho do ícone */
    border-radius: 5px;
}
.taxa-horaria{
    font-family: 'Poppins';
}
/* Footer */
.logo-final-do-site {
    display: flex;
    justify-content: end;
}

.logo-final-do-site img {
    padding-top: 3%;
}

.footer {
    /* background-color: #404040; */
    background-color: #353535;
    padding-top: 7%;
    padding-left: 5%;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 75%;
}

.links a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #B2BAC5;
    margin-left: 5%;
}

.barra-roxa {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(88, 28, 135, 1) 82%);
    height: 1.5px;
    width: 700px;
}

.footer #logo {
    width: 320px;
    height: 85px;
    padding-top: 2%;
}

#google-play {
    display: flex;
    justify-content: end;
    float: right;
    padding-top: 2%;
    padding-right: 5%;
    width: 280px;
    height: 85px;
}

.mensagem-direitos {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: #757575;
    padding-top: 3%;
    padding-bottom: 4%;
}