@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

.navBar { 
  display: flex;
  align-items:center;
  justify-content:space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.imagemFundo{
  width: 100%;
  height: 950px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../utils/assets/fundo-listagem.png");
}
.fundoFim{
  background-color: #F5F5F5;
}
.ondasListagem{
  background-size: cover;
  background-position: center;
  height: 1300px;
  background-repeat: no-repeat;
  background-image: url("../../utils/assets/fundo-ondas-listagem.png");

}

.logo img {
  width: 274px;
  height: 93px;
  margin-top: 30px;
} 

.botao-entrar {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  margin-top: 30px;
}

.botao-entrar svg {
  margin-right: 10px; 
  width: 46px;
  height: 44px;
}
.botao-entrar a {
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 15px;
}
.fraseInicio{
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.inicio{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
}
.inputs input {
  height: 46px;
  width: 379px;
  border-radius: 9px;
  font-family: 'Poppins';
  font-size: 15px;
  cursor: pointer;
  border: none;
  padding-left: 30px;
  
}

.pesquisa {
  background-image: url('../../utils/assets/lupa.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
  margin-right: 80px;
  outline: none;
}

.onde {
  background-image: url('../../utils/assets/localização.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
  outline: none;
}

.categoria {
  margin-bottom: 50px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.filtro {
  display: flex;
  margin-top: 3%;
  margin-left: 100px;
  color: #3C3C3C;

}

.filtro a {
  margin-left: 10px;
  text-decoration: none;
  color: #3C3C3C;
  font-family: 'Poppins';
  font-size: 20px;
}
.titulo-listagem{
  font-weight: bold;
  color: #A855F7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';

}

/*******************************Card da Listagem**********************/


.content {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.cardRow {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}
.cardListagemTatuadores {
  margin-right: 50px; 
}
